h2 {
    color: darkgrey;
    text-align: center;
    font-size: 40px;
}

p.description {
    text-align: center;
    font-size: 20px;
}

input[type=text]{
    width: 98%;
    padding: 8px 8px;
    margin: 10px 0;
}

input[type=submit]{
    width: 99%;
    padding: 8px 8px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 6px;
}

body {
    background-color: Ghostwhite;
    padding: 20px 20px;
}

